
@font-face {
   font-family: notoserif;
   src: url(fonts/notoserif-regular.ttf);
}

* {
   font-family: notoserif, Times;
   font-size: 97%;
}
body.body {
  background-color: rgb(230, 230, 230);
  background-image: url(backgrnd.png); 
  margin:8px;
  padding: 0px;
}

div.toptitle {
   margin: 0px;
   position: relative;
   height: 70px;
}
span.toptitle {
   color: black;
   vertical-align: middle;
   text-shadow: 3px 3px 1px #aaaaaa;
   white-space: normal;
   font-weight: bold;
   font-size: xx-large;
}
div.lang {
   border-style: none;
   margin: 0px;  
   font-size: medium;
   text-shadow: none;
}
@media (min-width: 1200px) {
  div.lang {
     position: absolute;
     top: 0;
     right: 0;
  }
}
ul.topmenu {
   list-style-type: none;
   margin: 0px;
   margin-left: 10px;
   padding: 0px;
   position: absolute;
   left: 0px;
   bottom: 0px;
}
li.topmenucurrent {
   border-color: blue;
   border-bottom-color: rgba(233, 233, 233, 1.0);
   border-width: 1px;
   border-style: solid;
   border-top-right-radius: 15px;
   margin: 0px;
   padding 0px;
   display: inline;
}
li.topmenu {
   border-color: blue;
   border-top-right-radius: 15px;
   border-style: solid;
   border-width: 1px;
   margin: 0px;
   padding 0px;
   display: inline;
}
span.topmenu {
   margin: 0px;
   padding: 0px;
   padding-left: 15px;
   padding-right: 15px;
   width: 200px;
   min-width: 200px;
   color: blue;
   font-weight: bold;
}
a.topmenu {
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   width: 100px;
}
